<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<meta name="robots" content="noindex">

{% seo %}

{% unless page.image %}
<meta property="og:image" content="{{ site.url | append: '/assets/icons/icon.png' }}">
<meta name="twitter:image" content="{{ site.url | append: '/assets/icons/icon.png' }}">
{% endunless %}

<meta http-equiv="refresh" content="1; url={{ page.meta.link }}"></meta>

<meta name="twitter:url" content="{{ site.url }}{{ page.url | replace: 'index.html', '' }}">
<meta name="twitter:description" content="{{ page.description | escape }}">

<meta name="keywords" content="{{ page.tags | default:site.keywords | join:',' }}">

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="{{ page.title }}">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="application-name" content="{{ page.title }}">
