{% assign link_meta = include.meta %}

{% if link_meta %}
  {% assign title = link_meta.title %}
  {% assign desc = link_meta.desc %}
  {% assign link = link_meta.link %}
  {% assign img = link_meta.img %}
  {% assign domain = link_meta.domain %}
  {% assign is_follow = link_meta.is_follow %}
{% else %}
  {% assign title = include.title %}
  {% assign desc = include.desc %}
  {% assign link = include.link %}
  {% assign img = include.img %}
  {% assign domain = include.domain %}
  {% assign is_follow = include.is_follow %}
{% endif %}

{% unless is_follow %}
  {% if link contains '://' %}
    {% assign is_follow = false %}
  {% endif %}
{% endunless %}

{% assign rel = 'noopener noreferrer' %}
{% unless is_follow %}
  {% assign rel = 'nofollow ' | append: rel %}
{% endunless %}


{% unless domain %}
  {% assign domain = link | replace: 'https://', '' | replace: 'http://', '' | split: '/' | first %}
  {% unless domain %}
    {% assign domain = site.domain | replace: 'https://', '' %}
  {% endunless %}
{% endunless %}

<div class="wrap_item item_type_opengraph">
  <a class="inner_wrap" href="{{ link }}" target="_self" rel="{{ rel }}" >
    <div class="inner_wrap_text">
      <strong class="title">{{ title }}</strong>
      <p class="desc">{{ desc }}</p>
      <p class="url">{{ domain }}</p>
    </div>
    <div class="inner_wrap_og_image">
      <img src="{{ img }}" alt="{{ title }}">
    </div>
  </a>
</div>