---
layout: redirect
---
{% assign plugins = site.plugins | default:site.gems %}
{% assign lang_index = page.lang_index %}
{% assign lang = page.lang %}
<!DOCTYPE html>
<html lang="{{ page.lang | default:site.lang }}">
  <head>
    {% include head/index.html %}
  </head>
  <body>
    {% include redirect/index.html %}
  </body>
</html>